body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333333;
    color: white;
    padding: 8px;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

nav h1{
    text-align: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin: 20px 0px;
    cursor: pointer;
    user-select: none;
}

nav a{
    color: white;
    text-decoration: none;
}

.content{
    width: 100%;
    position: fixed;
    padding: 8px;
    top: 0;
    left: 270px;
    bottom: 0;
    overflow-y: scroll;
    margin: 0 70px;
}

i{
    display: none;
}

@media (max-width: 700px){
    nav{
        display: none;
    }

    .content{
        position: fixed;
        left: 0;
        margin: auto;
    }

    .content h1{
        text-align: center;
    }

    i{
        font-size: 50px;
        display: block;
        cursor: pointer;
    }

    .nav-active{
        display: fixed;

    }
}